body > table{
    width: 80%;
}


table.list{
    width:100%;
}

td, th {
    border: 1px solid #000000;
    text-align: left;

}
tr:nth-child(even),table.list thead>tr {
    background-color: #19374a ;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 13%;
    background-color: rgb(74, 74, 113);
    color: whitesmoke;
    padding: 10px 15px;
    border-width: 1px;
    border-radius: 10px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: left;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: red;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}
body{
    background-color: #004b90;
    color: beige;
    padding-left: 20%;
}
.align{
    margin-left: 25%;
    color: aqua;
}
.hello{
    background-color: rgba(10, 36, 57, 0.303);
    
}
.hi{
    padding: 10px;
}
